@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./background.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Press Start 2P', cursive;
}
img[src="chest.png"], img[src="start.png"] {
  height: 100px;
}
body, html {
  height: 100%;
}
h1 {
  font-size: 70px;
}
button {
  font-size: 40px;
}
.middle {
  display: flex;
  justify-content: space-between;
}
.bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  width: 100%;
}
p, h2 {
  font-size: 25px;
}
h2, p {
  color: #66FCF1;
}
